
@font-face {
    font-family: 'Muli-Black';
    src: url('../fonts/Muli-Black.ttf') format('truetype'),
         url('../fonts/Muli-BlackItalic.ttf') format('truetype');        
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muli-Bold';
    src: url('../fonts/Muli-Bold.ttf') format('truetype'),
         url('../fonts/Muli-BoldItalic.ttf') format('truetype');        
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muli-ExtraBold';
    src: url('../fonts/Muli-ExtraBold.ttf') format('truetype'),
         url('../fonts/Muli-ExtraBoldItalic.ttf') format('truetype');        
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muli-ExtraLight';
    src: url('../fonts/Muli-ExtraLight.ttf') format('truetype'),
         url('../fonts/Muli-ExtraLightItalic.ttf') format('truetype');        
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muli-Italic';
    src: url('../fonts/Muli-Italic.ttf') format('truetype');        
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muli-Light';
    src: url('../fonts/Muli-Light.ttf') format('truetype'),
         url('../fonts/Muli-LightItalic.ttf') format('truetype');        
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muli-Regular';
    src: url('fonts/Muli-Regular.ttf') format('truetype');        
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muli-SemiBold';
    src: url('../fonts/Muli-SemiBold.ttf') format('truetype'),
         url('../fonts/Muli-SemiBoldItalic.ttf') format('truetype');        
    font-weight: normal;
    font-style: normal;
}


.logo{
    width: 450px;
    height: 130px;
}
.superior-menu{

    top: 28px;
}
.supmenu > li{
    font-family: Muli;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    letter-spacing: 1px;
}

.nav-item{
    font-family: Muli;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 23px;
}

.nav-item:hover{
    border-bottom: solid 2px  #FFE926;
}

.nav-link{
    color: #FFFFFF !important;
}

header {
    background-color: #f2f2f4;
    height: 666px;
    margin-bottom: 40px;
    padding-bottom: 80px;
    background-image: url(../img/architecture.jpg);
}
.img-bienvenido{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.btn-aplical{
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #F2C94C;
    border: 2px solid #F2C94C;
    border-radius: 0px;
}

.btnyellow{
    background: #FAFF00;
    border-radius: 36px;
    border-color: transparent;
    color: #30233D;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
}

.btnblue {
    background: #001970;
    border-radius: 36px;
    color: #ffffff;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    border-color: transparent;
}

.title-page{
    background-color: #FAFF00;
    height: 150px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
}

body{
    font-family: "Muli-Regular";
    font-size: 18pt;
    color: #4F4F4F;
    
}

h1,h2,h3,h4,h5,h6{
    font-family: "Muli-Bold " !important;
}

h1{
    font-weight: 800;
    font-size: 60px;
    line-height: 118.8%;}

h2{
    font-size: 45pt;
}

h4{
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 207.9%;
    /* or 37px */
    letter-spacing: 3px;
    mix-blend-mode: normal;
}

p{
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163.35%;
    /* or 29px */
    color: #4F4F4F;
}

hr {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.bienvenido{
    margin-bottom: 40px;
    padding-bottom: 80px;
}
.oferta{
    background: #FBFBF6;
    height:805px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 80px;  
    padding-bottom: 80px;
}

.carrera{
    width: 270px;
    background-color:#FBFF37;
    height: 400px;

}
.tcarrera{
    position: absolute;
    bottom: 55px;
    left: 35px;
    
}
.icarrera{
    width: 270px;
    height: 400px;
	padding-left: 0px;
}

.carousel{
	margin:70px 0px;
}

.carousel-control-next, .carousel-control-prev{
	width: 150px;
}

.fa-chevron-right, .fa-chevron-left{
	color: #000;
}

.title-footer {
    font-family: Muli;
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    line-height: 207.9%;
    /* or 27px */

    letter-spacing: 2px;

    /* Gray 2 */

    color: #4F4F4F;
}

address{
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 200%;
    /* or 28px */

    color: #4F4F4F;
}

/*escuela-laboratorio*/
.laboratorio{
    margin-bottom: 50px;
    margin-top: 50px;
    background: #FBFBF6;
    padding: 50px 150px;
}

.lab{
    width: 420px;
    height: 464px;
    opacity: 0.9;
}