@font-face {
  font-family: "Muli-Black";
  src: url("../fonts/Muli-Black.ttf") format("truetype"),
    url("../fonts/Muli-BlackItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muli-Bold";
  src: url("../fonts/Muli-Bold.ttf") format("truetype"),
    url("../fonts/Muli-BoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muli-ExtraBold";
  src: url("../fonts/Muli-ExtraBold.ttf") format("truetype"),
    url("../fonts/Muli-ExtraBoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muli-ExtraLight";
  src: url("../fonts/Muli-ExtraLight.ttf") format("truetype"),
    url("../fonts/Muli-ExtraLightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muli-Italic";
  src: url("../fonts/Muli-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muli-Light";
  src: url("../fonts/Muli-Light.ttf") format("truetype"),
    url("../fonts/Muli-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muli-Regular";
  src: url("fonts/Muli-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muli-SemiBold";
  src: url("../fonts/Muli-SemiBold.ttf") format("truetype"),
    url("../fonts/Muli-SemiBoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,600;1,700;1,800;1,900&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
  font-family: "Raleway", sans-serif;
}

h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 71px;
}

h2 {
  font-style: normal;
  font-weight: 800;
  font-size: 45px;
  line-height: 40px;
}

body {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  color: #4f4f4f;
}

hr {
  background: #30233d;
  opacity: 0.5;
  border: 1px solid #666666;
}

.header {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: transparent;
  background-image: url(/img/portada.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.fa-bars {
  color: #ffffff;
}

.icono-menu {
  color: #000000;
}

.header-page {
  padding-top: 2rem;
}
.logo-brand {
  max-width: 450px;
  max-height: 138px;
}

.menu-superior {
  text-align: end;
  font-size: 14px;
  font-weight: 600;
}
.menu-superior a {
  color: #ffffff;
  position: relative;
}

.menu-superior .fab {
  margin: 0 8px;
  font-size: 18px;
}

.menu-superior li:nth-child(3) {
  margin: 0 40px 0 0;
}


.nav-link {
  color: #ffffff;
  font-weight: 600;
  padding-bottom: 15px;
}

a:hover {
  color: #faff00;
  text-decoration: underline;
}
/*PAGINA DE LA ESCUELA*/
.menu-superiora {
  text-align: end;
  font-size: 14px;
  font-weight: 600;
}
.menu-superiora a {
  position: relative;
  color: #000000;
}
.menu-superiora li:nth-child(3) {
  margin: 0 40px 0 0;
}
.menu-superiora .fab {
  margin: 0 8px;
  font-size: 18px;
}
.nav-link-esc {
  color: #000000;
  font-weight: 600;
}

.title-pag {
  background-color: #faff00;
  padding-bottom: 20px;
  padding-top: 20px;
}
.text-body {
  padding: 3rem 1rem;
  margin-bottom: 2rem;
}

/*FIN PAGINA DE LA ESCUELA*/

.nav-link:hover {
  border-bottom: 2px solid #faff00;
  width: 90%;
}

/*Escuela de arquitectura*/
.title-esc {
  padding-left: 50px;
  margin-top: 5rem;
  margin-bottom: 5rem;
  position: relative;
  letter-spacing: 3px;
}

.title-esc h1 {
  color: #ffffff !important;
  padding-bottom: 20px;
}
.title-esc h2 {
  font-size: 20px;
  color: #ffffff !important;
}
.btn-outline-yellow {
  color: #faff00;
  border-color: #faff00;
  border-radius: 0;
  font-size: 13px;
  padding-bottom: 12px;
  padding-top: 12px;
  font-weight: 600;
}
.btn-outline-yellow:hover {
  color: #212529;
  background-color: #faff00;
  border-color: #faff00;
}

/*FIN Escuela de arquitectura*/

/*Bienvenido*/
.bgcontainer {
  background-image: url(/img/Vector9.svg);
  background-repeat: no-repeat;
  background-size: 509px 655px;
  min-height: 700px;
}
.img-bienvenido {
  display: block;
    margin: auto 45px auto auto;
}
.btnyellow {
  background: #faff00;
  border-radius: 36px;
  border: #faff00;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.btn-warning:hover {
  color: #212529;
  background-color: #fff700;
  border-color: #fff700;
}

.bgcontainer h2{
  font-size: 60px;
  line-height: 70px;
}

.bgcontainer .col-md-6 .col-md-5{
  margin: 0 15px;
}

/*FIN Bienvenido*/

/*Carreras*/
.bgcarrera {
  background: #faff00;
}
.col-img-carrera {
  padding-left: 0;
  display: flex;
}

.title-carrera {
  position: absolute;
  bottom: 35px;
  z-index: 9000;
  width: 60%;
  margin-left: 20px;
}
/*FIN Carreras*/

/*Proyectos*/
.bgcontainer-proy {
  background-image: url(/img/Vector11.svg);
  background-repeat: no-repeat;
  background-size: 509px 655px;
  min-height: 700px;
  background-position: right;
}

.carousel-control-prev,
.carousel-control-next {
  width: 150px;
  color: #000000 !important;
  font-size: 30px;
}
/*FIN Proyectos*/

/*Instalaciones*/
.portfolio{
  margin: 40px auto;
}

.portfolio-container {
  position: relative;
  overflow: hidden;
  margin: 10px 0;
  border-radius: 2px;
}

.portfolio-container img {
  -moz-transition: all 0.8s;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.portfolio-container:hover img {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.portfolio-details {
  position: absolute;
  bottom: 25px;
  left: 25px;
  z-index: 9000;
}

.portfolio-details h2 {
  margin-bottom: 0px;
}

.portfolio-details a h2,
.portfolio-details a p {
  color: #ffffff !important;
}
/*FIN Instalaciones*/

/*MOVILIDAD*/
.bgcontainer-mov {
  background-image: url(/img/Vector12.svg);
  background-repeat: no-repeat;
  background-size: 670px 885px;
  min-height: 745px;
  background-position-y: -28px;
}

.container-mov{
  padding: 10% 0;
} 


.btnblue {
  background: #001970;
  border-radius: 36px;
  border: #001970;
  text-transform: uppercase;
  margin-bottom: 10px;
}
/*FIN MOVILIDAD*/

/*FOOTER*/
.title-footer {
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 27px;
  letter-spacing: 2px;
  color: #4f4f4f;
  text-transform: uppercase;
}

.hr-footer {
  background: #30233d;
  opacity: 0.5;
  border: 1px solid #666666;
}

.footer-detail {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  color: #4f4f4f;
}

.footer-detail a {
  margin-right: 15px;
}
.footer-detail i {
  font-size: 20px;
}
/*FIN FOOTER*/

/*ESCUELA-INSTALACIONES*/
.portafolio-container {
  position: relative;
  overflow: hidden;
  margin: 10px 0;
  border-radius: 2px;
}

.portafolio-container img {
  -moz-transition: all 0.8s;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;

  mix-blend-mode: darken;
  opacity: 1.9;
}

.portafolio-container:hover img {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.portafolio-details {
  position: absolute;
  bottom: 25px;
  left: 25px;
  z-index: 9000;
}

.portafolio-details h2 {
  margin-bottom: 0px;
}

.portafolio-details h2 {
  color: #ffffff !important;
}
/*FIN ESCUELA-INSTALACIONES*/

/*EQUIPO*/
.card {
  background-color: transparent;
  border: none;
}

.title-card {
  background: #faff00;
  border: 1px solid #faff00;
}

/*FIN EQUIPO*/

@media (max-width: 576px) {

  h1{
    font-size: 50px;
  }
  .menu-superior {
    text-align: center !important;
  }
  .title-esc {
    padding-left: initial;
    padding-right: initial;
  }
  .title-esc h1 {
    font-size: 50px !important;
  }
  .bgcontainer,
  .bgcontainer-mov,
  .bgcontainer-proy {
    background-image: none;
  }

  h1 {
    font-size: 50px !important;
  }
  h3 {
    font-size: 1rem !important;
  }
  .bgcontainer h2{
    font-size: 45px;
    line-height: 60px;
  }
  .img-bienvenido {
    margin-bottom: 15px;
  }

  .bgcarrera {
    margin-bottom: 20px;
  }
  .title-carrera {
    position: initial;
    bottom: 0;
    z-index: 9000;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .col-img-carrera {
    margin-bottom: 25px;
  }
  .img-carrera {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .carousel-control-prev,
  .carousel-control-next {
    display: flex;
    align-items: flex-end;
  }
  .img-equipo {
    width: 250px;
  }
  .body-card {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .carousel-control-prev,
  .carousel-control-next {
    display: flex;
    align-items: flex-end;
  }
}
