@font-face {
  font-family: "Muli-Black";
  src: url("../fonts/Muli-Black.ttf") format("truetype"),
    url("../fonts/Muli-BlackItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muli-Bold";
  src: url("../fonts/Muli-Bold.ttf") format("truetype"),
    url("../fonts/Muli-BoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muli-ExtraBold";
  src: url("../fonts/Muli-ExtraBold.ttf") format("truetype"),
    url("../fonts/Muli-ExtraBoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muli-ExtraLight";
  src: url("../fonts/Muli-ExtraLight.ttf") format("truetype"),
    url("../fonts/Muli-ExtraLightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muli-Italic";
  src: url("../fonts/Muli-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muli-Light";
  src: url("../fonts/Muli-Light.ttf") format("truetype"),
    url("../fonts/Muli-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muli-Regular";
  src: url("fonts/Muli-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muli-SemiBold";
  src: url("../fonts/Muli-SemiBold.ttf") format("truetype"),
    url("../fonts/Muli-SemiBoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  color: #4f4f4f;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
  font-family: "Raleway", sans-serif;
}
h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 71px;
}
h2 {
  font-style: normal;
  font-weight: 800;
  font-size: 45px;
  line-height: 40px;
}
h3 {
  font-weight: 700;
}
a {
  color: #0062cc !important;
}
a:hover {
  text-decoration: none;
}
.header {
  padding: 2rem 1rem;
  background-color: transparent;
  background-image: url(/img/portada.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background-color: rgba(0, 0, 0, 0.6); */
}
.fa-bars {
  color: #ffffff;
}
.icono-menu {
  color: #000000;
}
.header-page {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.logo-brand {
  max-width: 450px;
  max-height: 138px;
}
.navbar {
  padding: 0px !important;
}
.nav-link {
  color: #ffffff !important;
  font-weight: 600;
  padding-bottom: 5px;
}
.nav-link:hover {
  border-bottom: 2px solid #faff00;
  width: 90%;
}
.menu-superior {
  text-align: end;
  font-size: 14px;
  font-weight: 600;
}
.menu-superior a {
  color: #ffffff !important;
  position: relative;
}
.menu-superior .fab,
.menu-superior .far {
  margin: 0 8px;
  font-size: 18px;
  opacity: 0.7;
}
.btn {
  font-size: 13px;
}

.historia {
  column-count: 2;
  margin-bottom: 45px;
}

hr {
  background: #30233d;
  opacity: 0.5;
  border: 1px solid #666666;
}
.padding-cajas {
  padding: 80px 16px !important;
}
.padding-recursos {
  padding: 35px 16px !important;
}

.body-carousel {
  margin-top: auto;
  margin-bottom: auto;
}
.menu-superiora {
  text-align: end;
  font-size: 14px;
  font-weight: 600;
}
.menu-superiora a {
  position: relative;
  color: #333333 !important;
}
.menu-superiora .fab,
.menu-superiora .far {
  margin: 0 8px;
  font-size: 18px;
}
.nav-link-esc {
  color: #333333 !important;
  font-weight: 600;
}
.nav-link-esc:hover {
  color: #333333 !important;
  border-bottom: 2px solid #e9ecef !important;
}
.title-pag {
  background-color: #faff00;
  padding-bottom: 20px;
  padding-top: 20px;
}
.sobre-titulo {
  text-transform: uppercase;
  font-weight: 600;
}
.flecha-lab {
  z-index: 9000;
}
.title-esc {
  padding-left: 50px;
  margin-top: 80px;
  position: relative;
  letter-spacing: 3px;
}
.title-esc h1 {
  color: #ffffff !important;
  padding-bottom: 20px;
  margin-bottom: 0px;
  line-height: 80px;
}
.title-esc h2 {
  font-size: 20px;
  color: #ffffff !important;
  margin-bottom: 0px;
  line-height: 15px;
}
.btn-outline-yellow {
  color: #faff00 !important;
  border-color: #faff00 !important;
  border-radius: 0;
  font-size: 13px;
  padding-bottom: 12px;
  padding-top: 12px;
  font-weight: 600;
}
.btn-outline-yellow:hover {
  color: #212529 !important;
  background-color: #faff00;
  border-color: #faff00;
}
.bg-gris {
  background-color: #e9ecef;
}
.bgcontainer {
  background-image: url(/img/Vector9.svg);
  background-repeat: no-repeat;
  background-size: 509px 655px;
}
.img-bienvenido {
  justify-content: end;
  display: grid;
  padding-right: 45px;
}
.btnyellow {
  background: #faff00;
  border-radius: 36px;
  border: #faff00;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #212529a6 !important;
  padding: 10px 20px;
  font-weight: 600;
}
.btnyellow:hover {
  color: #212529a6;
  background-color: #fff700;
  border-color: #fff700;
}
.bgcontainer h2 {
  font-size: 60px;
  line-height: 70px;
}
.bgcontainer .col-md-6 .col-md-5 {
  margin: 0 15px;
}
.bgcontainer-proy {
  background-image: url(/img/Vector11.svg);
  background-repeat: no-repeat;
  background-size: 509px 655px;
  background-position: right;
}
.carousel-control-prev,
.carousel-control-next {
  width: 150px;
  color: #000000 !important;
  font-size: 30px;
}
.portfolio-container {
  position: relative;
  overflow: hidden;
  margin: 10px 0;
  border-radius: 2px;
}
.portfolio-container img {
  -moz-transition: all 0.8s;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}
.portfolio-container:hover img {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.portfolio-details {
  position: absolute;
  bottom: 25px;
  left: 25px;
  z-index: 9000;
}
.portfolio-details h2 {
  margin-bottom: 0px;
}
.portfolio-details a h2,
.portfolio-details a p {
  color: #ffffff !important;
}
.bgcontainer-mov {
  background-image: url(/img/Vector12.svg);
  background-repeat: no-repeat;
  background-size: 670px 885px;
  background-position-y: -28px;
}
.bgcontainer-mov h2 {
  font-size: 60px;
  line-height: 70px;
}
.container-mov {
  padding: 10% 15px;
}
.p-mov {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}
.btnblue {
  color: #ffffff !important;
  background: #001970 !important;
  border-radius: 36px;
  border: #001970 !important;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding: 10px 20px;
  font-weight: 600;
}
.btnblue:hover {
  background: #001970ad !important;
  border: #001970ad !important;
}
.footer-wrapper {
  background-color: #e9ecef;
}
.title-footer {
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 27px;
  letter-spacing: 2px;
  color: #4f4f4f;
  text-transform: uppercase;
}
.hr-footer {
  background: #30233d;
  opacity: 0.5;
  border: 1px solid #666666;
}
.footer-detail {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  color: #4f4f4f;
}
.footer-detail a {
  margin-right: 15px;
}
.footer-detail i {
  font-size: 20px;
}
.icon-fa,
.link-pucmm {
  color: #001970;
}
.copyright {
  background-color: #001970;
}
.col-footer {
  margin-bottom: 0px;
}
.portafolio-container {
  position: relative;
  overflow: hidden;
  margin: 10px 0;
  border-radius: 2px;
}
.portafolio-container img {
  -moz-transition: all 0.8s;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  mix-blend-mode: darken;
  opacity: 1.9;
}
.portafolio-container:hover img {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.prof-container {
  position: relative;
  border-radius: 2px;
  justify-content: center;
    display: flex;
}


.btn-filtrado{
  color: #212529a6 !important;
  text-transform: uppercase;
  background: transparent;
  font-weight: 600;
  margin-bottom: 10px;
  border-radius: 36px;
  padding: 10px 20px;
}

.activeprof,
.btn-filtrado:hover {
  background-color: #fff700;
}
.btn-filtrado.focus,
.btn-filtrado:focus {
  box-shadow: 0 0 black;
}

.portafolio-details,
.carreras-details {
  position: absolute;
  bottom: 25px;
  padding: 0 40px;
  z-index: 9000;
}
.portafolio-details h2 {
  margin-bottom: 0px;
}
.portafolio-details h3 {
  color: #ffffff !important;
}
.container-title-lab {
  padding-bottom: 45px;
}
.card {
  background-color: transparent;
  border: none;
}
.card-title {
  font-weight: 600;
  margin-bottom: 0px;
  line-height: 2;
}
.card-text{
  font-size: 18px;
  line-height: 2;
}
.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: none;
}

.ver-perfil {
  font-size: 14px;
}
.title-card {
  background: #faff00;
  border: 1px solid #faff00;
}
.container-prof {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.title-recursos {
  font-size: 14px;
}

/*filtrado*/
.prof-list {
  display: flex;
  flex-wrap: wrap;
}

/*fin filtrado*/

@media (max-width: 576px) {
  .logo-brand {
    width: 200px;
  }
  .title-esc {
    padding-left: initial;
    padding-right: initial;
  }
  .bgcontainer,
  .bgcontainer-mov,
  .bgcontainer-proy {
    background-image: none;
  }
  h1 {
    font-size: 40px !important;
  }
  .bgcontainer h2 {
    font-size: 45px;
    line-height: 60px;
  }
  .bgcontainer-mov h2 {
    font-size: 45px;
    line-height: 60px;
  }
  .img-bienvenido {
    margin-bottom: 15px;
  }
  .bgcarrera {
    margin-bottom: 20px;
  }
  .title-carrera {
    position: initial;
    bottom: 0;
    z-index: 9000;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .col-img-carrera {
    margin-bottom: 25px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    display: flex;
    align-items: flex-end;
  }
  .body-card {
    text-align: center;
  }
  .list-inline-item:not(:last-child) {
    margin-right: 0;
  }
  .padding-cajas {
    padding: 35px 10px !important;
  }

  .col-footer {
    margin-bottom: 1.5rem;
  }
  .flecha-carreras {
    position: initial;
    padding-top: 15px;
    margin-bottom: 0px;
  }
  .carreras-details {
    position: initial;
  }
  .director .card-body,
  .secretaria .card-body {
    text-align: center;
  }
  .carousel-item img,
  .img-bienvenido {
    display: none !important;
  }
  .director img,
  .secretaria img {
    width: auto;
    height: 250px;
  }
}

@media (min-width: 768px) {
  .carousel-control-prev,
  .carousel-control-next {
    display: flex;
    align-items: flex-end;
  }
  .bgcontainer h2 {
    font-size: 55px;
  }
  h3 {
    font-size: 20px;
  }
  h1 {
    font-size: 45px !important;
  }
  .bgcontainer-proy {
    background-size: 493px 390px;
  }
  .bgcontainer-mov {
    background-size: 570px 785px;
  }
  .container-mov h2 {
    font-size: 55px;
  }
  .menu-superior,
  .menu-superiora {
    margin-bottom: 0px;
  }
  .title-esc {
    margin-bottom: 5rem;
  }
  .col-img-carrera {
    padding-left: 0;
  }
  .bgcarrera {
    background-color: #faff00;
  }
  .img-recursos {
    width: 160px;
  }
  .filtrado ul{
    display: flex;
    justify-content: center;
  }
  .galeria .box-img, .img-equipo {
    width: calc(100px * 2.5);
  }
}

@media (max-width: 768px) {
  .title-carrera,
  .flecha-carreras {
    position: initial;
  }
  .img-bienvenido {
    justify-content: initial;
    display: grid;
  }
  .bgcarrera,
  .col-img-carrera {
    margin-bottom: 1rem;
  }
  .bgcarrera .carreras-details {
    background-color: #faff00;
  }
  .historia {
    column-count: 1;
    margin-bottom: 25px;
  }
.btn-filtrado{
  padding: 10px;
}
}

.card-header-t {
  background-color: transparent;
  padding-left: 0;
}
.card-header-t .btn {
  font-size: 16px;
  padding-left: 0;
}
.icon {
  position: absolute;
  right: 20px;
}
.content {
  padding-top: 30px;
  padding-bottom: 30px;
}

/*boton SEARCH*/
.searchbar {
  background-color: transparent;
}

.search_input {
  color: #4f4f4f;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
  padding: 0 10px;
  width: 300px;
  caret-color: #faff00;
  transition: width 0.4s linear;
}

.search_icon {
  height: 35px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
}
/* FIN BOTON SEARCH*/

.galeria {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.galeria .box-img {
  margin: 10px;
 overflow: hidden;
}

.galeria .box-img img {
  cursor: pointer;
  transition: all 0.5s ease;
}
.galeria .box-img img:hover {
  transform: scale(1.2);
}

.galeria h3 {
  text-align: center;
  position: absolute;
  padding: 0 10px;
  z-index: 9000;
  color: #ffffff !important;
  font-size: 16px;
  bottom: 25px;

}
.galeria h4 {
  text-align: center;
  position: absolute;
  padding: 0 20px;
  z-index: 9000;  
  font-size: 16px;
  bottom: 5px;
}
.galeria a{
  color: #ffffff !important;
}

.galeria a:hover{
  color: #faff00 !important;
}

/*SLIDER*/
/* carousel */
.media-carousel 
{
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 30px;
}
/* Previous button  */
.media-carousel .carousel-control.left 
{
  left: -12px;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}
/* Next button  */
.media-carousel .carousel-control.right 
{
  right: -12px !important;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active 
{
  background: #333333;
}
.media-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */
/*FIN SLIDER*/
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #000000;
}