@font-face {
    font-family: 'Muli-ExtraBold';
    src: url('../fonts/Muli-ExtraBold.ttf') format('truetype'),
         url('../fonts/Muli-ExtraBoldItalic.ttf') format('truetype');        
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muli-ExtraLight';
    src: url('../fonts/Muli-ExtraLight.ttf') format('truetype'),
         url('../fonts/Muli-ExtraLightItalic.ttf') format('truetype');        
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muli-Italic';
    src: url('../fonts/Muli-Italic.ttf') format('truetype');        
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muli-Light';
    src: url('../fonts/Muli-Light.ttf') format('truetype'),
         url('../fonts/Muli-LightItalic.ttf') format('truetype');        
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muli-Regular';
    src: url('fonts/Muli-Regular.ttf') format('truetype');        
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muli-SemiBold';
    src: url('../fonts/Muli-SemiBold.ttf') format('truetype'),
         url('../fonts/Muli-SemiBoldItalic.ttf') format('truetype');        
    font-weight: normal;
    font-style: normal;
}

.header {
  background-image: url(/img/architecture.jpg);
  background-size: cover;
  min-height: 100vh;
}

.header .navbar {
    background-color: transparent !important;
    color: #ffffff;
  }
.supmenu a{
    color: #ffffff;
    padding: 10px 15px;

}
.nav-item, .supmenu a{
    font-family: Muli-SemiBold;
    font-size: 16px;
    line-height: 23px;
}

.nav-item:hover{
    border-bottom: solid 2px  #FFE926;
}

.nav-link{
    color: #FFFFFF !important;
}

.title-page{
    background-color: #FAFF00;
    margin: 30px 0;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 30px;
}

body{
    font-family: "Muli-Regular";
    font-size: 18px;
    color: #4F4F4F;    
}

h1,h2,h3,h4,h5,h6{
    font-family: "Muli-Bold " !important;
}

h1{
    font-weight: 800;
    font-size: 60px;
    margin-bottom: .5em !important;
}
h2{
    font-family: Muli;
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 56px;
}

.carrera{
    background-color:#FBFF37;
    align-items: center !important;
    display: flex !important;
}

.carousel-control-next, .carousel-control-prev{
	width: 150px;
}
.carousel-control-prev, .carousel-control-next{
    color: #000000 !important;
    font-size: 30px;
}

.btn{
    text-transform: uppercase;
}

.btn-warning{
    background-color:#FBFF37;
    border-color:#FBFF37;
}


.btn-outline-warning {
    color: #FBFF37;
    border-color: #FBFF37;
}
.btn-outline-warning:hover {
    color: #000000;
    background-color: #FBFF37;
    border-color: #FBFF37;
}

.title-footer {
    font-family: Muli;
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    line-height: 27px;
    letter-spacing: 2px;
    color: #4F4F4F;
}

.footer-wrapper {
    color: #4F4F4F;
    padding: 80px 30px !important;

}
.footer-wrapper h6 {
    font-size: 18px;
    padding-bottom: 25px;
    position: relative;
    margin: 0 !important;
}

.footer-wrapper .copyright {
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    text-align: center !important;
    padding: 25px 0 0 0 !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    -ms-flex-line-pack: center !important;
    align-content: center !important;
}

.icon-fa{
    margin-right: 10px;
}




.install-col{
    padding: 0px !important;
}
.instalaciones-container {
    position: relative;
    overflow: hidden;
    margin: 0;
    display: flex;
    justify-content:center;

}

.instalaciones-detail {
    position: absolute;
    bottom: 35px;
    z-index: 9000;
    color: #ffffff;
    width: 60%;
}


.card{
    border: none;
}
p.card-text{
    border-bottom: solid 2px  #FBFF37 !important;
    padding: 10px 0;
}



@media (max-width: 576px) { 
.carousel-control-prev, .carousel-control-next{
    display: flex;
    align-items: flex-end;
    color:  #ffffff !important;
}

p.card-text{
   width: 49%;
    padding: 10px 0;
}

}
.card{
    background-color: transparent;
}