h1,
h2,
h3,
h4,
h5 {
  color: #333333;
}

h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 71px;
}

/* h1 .arquitectura {
  font-family: Muli;
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 71px;
  color: #f5f5f5;
} */

h2 {
  font-style: normal;
  font-weight: 800;
  font-size: 45px;
  line-height: 40px;
}

body {
  /* font-family: Muli; */
  font-family: "Titillium Web", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  color: #4f4f4f;
}

hr {
  background: #30233d;
  opacity: 0.5;
  border: 1px solid #666666;
}

.header {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: transparent;
  background-image: url(/img/architecture.jpg);
  background-repeat: no-repeat;
}

.logo-brand {
  max-width: 450px;
  max-height: 138px;
}

.menu-superior {
  text-align: end;
}
.menu-superior a {
  margin-right: 15px;
  color: #ffffff;
}

.nav-link {
  color: #ffffff;
}

.nav-link:hover {
  border-bottom: 2px solid #ffcc3b;
  width: 90%;
}

/*Escuela de arquitectura*/
.title-esc {
  padding-left: 50px;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.title-esc h1 {
  color: #ffffff !important;
}
.title-esc h2 {
  font-size: 20px;
  color: #ffffff !important;
}
.btn-outline-yellow{
  color: #faff00;
    background-color: transparent;
    background-image: none;
    border-color: #faff00;
}
.btn-outline-yellow:hover {
  color: #212529;
  background-color: #faff00;
  border-color: #faff00;
}

/*FIN Escuela de arquitectura*/

/*Bienvenido*/
.bgcontainer {
  background-image: url(/img/Vector9.svg);
  background-repeat: no-repeat;
  background-size: 509px 655px;
  min-height: 700px;
}
.img-bienvenido {
  float: right;
  border-radius: 0.25rem;
}
.btnyellow {
  background: #faff00;
  border-radius: 36px;
  border: #faff00;
  text-transform: uppercase;
}

/*FIN Bienvenido*/

/*Carreras*/
.bgcarrera {
  background: #faff00;
}
.col-img-carrera {
  padding-left: 0;
  display: flex;
}

.title-carrera {
  position: absolute;
  bottom: 35px;
  z-index: 9000;
  width: 60%;
  margin-left: 20px;
}
/*FIN Carreras*/

/*Proyectos*/
.bgcontainer-proy{
  background-image: url(/img/Vector11.svg);
  background-repeat: no-repeat;
  background-size: 509px 655px;
  min-height: 700px;
  background-position: right;
}


.carousel-control-prev,
.carousel-control-next {
  width: 150px;
  color: #000000 !important;
  font-size: 30px;
}
/*FIN Proyectos*/

/*Instalaciones*/
.portfolio-container {
  position: relative;
  overflow: hidden;
  margin: 10px 0;
  border-radius: 2px;
}

.portfolio-container img {
  -moz-transition: all 0.8s;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.portfolio-container:hover img {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.portfolio-details {
  position: absolute;
  bottom: 25px;
  left: 25px;
  z-index: 9000;
}

.portfolio-details h2 {
  margin-bottom: 0px;
}

.portfolio-details a h2,
.portfolio-details a p {
  color: #ffffff !important;
}
/*FIN Instalaciones*/

/*MOVILIDAD*/
.bgcontainer-mov{
  background-image: url(/img/Vector12.svg);
  background-repeat: no-repeat;
  background-size: 509px 655px;
  min-height: 700px;
}
.btnblue {
  background: #001970;
  border-radius: 36px;
  border: #001970;
  text-transform: uppercase;
}
/*FIN MOVILIDAD*/

/*FOOTER*/
.title-footer {
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 27px;
  letter-spacing: 2px;
  color: #4f4f4f;
  text-transform: uppercase;
}

.hr-footer {
  background: #30233d;
  opacity: 0.5;
  border: 1px solid #666666;
}

.footer-detail {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  color: #4f4f4f;
}

.footer-detail a{
  margin-right: 15px;
}

/*FIN FOOTER*/

@media (max-width: 576px) {
  .header {
    padding: 4rem 2rem;
  }

  .title-esc {
    padding-left: initial;
    padding-right: initial;
  }
  .title-esc h1 {
    font-size: 50px !important;
  }
  .bgcontainer, .bgcontainer-mov, .bgcontainer-proy {
    background-image: none;
  }

  .img-bienvenido {
    margin-bottom: 15px;
  }

  .bgcarrera {
    margin-bottom: 20px;
  }
  .title-carrera {
    position: initial;
    bottom: 0;
    z-index: 9000;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .col-img-carrera {
    margin-bottom: 25px;
  }
  .img-carrera {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .carousel-control-prev,
  .carousel-control-next {
    display: flex;
    align-items: flex-end;
    color: #ffffff !important;
  }
}
